*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 100px 120px 0 120px;
    display: flex;
    justify-content: space-between;
}
.logo a{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    color: #000;

}

span{
    font-size: 2.8rem;
    font-weight: 700;
    color: #395AFF;
}
.right{
    display: flex;
    gap: 15px;
}

#selection{
    border: none;
    outline: none;
}

.btn .btn1{
    background-color: #395AFF;
    color: #fff;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

.btn1:hover{
    background-color: #666;
    color: #fff;
}

.btn .btn2{
    border: 1px solid #395AFF;
    color: #395AFF;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}
.btn2:hover{
    background-color: #395AFF;
    color: #fff;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 40px;
}
.blue1{
    border-top: 4px solid #395AFF;
    height: 10px;
    width: 30px;
    border-radius: 4px;
}
.blue2{
     border-top: 4px solid #395AFF;
    height: 10px;
    width: 25px;
    border-radius: 4px;
}
.blue3{
     border-top: 4px solid #395AFF;
    height: 10px;
    width: 18px;
    border-radius: 4px;
}
.blue4{
     border-top: 4px solid #395AFF;
    height: 10px;
    width: 10px;
    border-radius: 4px;
}

section{
    display: flex;
    justify-content: space-between;
     margin: 100px 140px 0 140px;
}

 h1 {
    color: #2D261E;
    display: flex;
    flex-direction: column;
            font-size: 5rem;
            line-height: 90px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 700;
            
        }

        p{
            font-weight: 200;
            color: #636262;
            font-size: 2rem;
            width: 500px;
            margin: 15px 0 25px 0;
        }
.codingnest-banner{
    margin-top: 100px;
}
 .codingnest-banner img {
            width: 500px;
            height: 260px;  
        }


        .btn3{
            
            background-color: #395AFF;
                color: #fff;
                             border-radius: 3px;
                             border: 0;
                             padding: 13px;
                             cursor: pointer;
        }

        .btn3:hover{
             background-color: #666;
    color: #fff;
        }
        footer{
  
 margin: 0 130px 0 130px;
}
        
.googleplay{
    margin: 10px 15px;
}
        

        .googleplay img {
            width: 100px;
            border-radius: 1px;
        }


